* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


body { 
    font: 13px Helvetica, Arial; 
    overflow: hidden;
}

/* Comment this out right now and focus on features */
.border {
    margin: auto;
    max-width: 960px;
    height: 100vh;
    border: 1px black solid
}


form { 
    background: #000; 
    padding: 3px; 
    position:relative;
    /* position: fixed;  */
    bottom: 0; 
    /* width: 58%; */
    width: 100%;
    /* position: absolute; */
}


form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: 0.5%; 
}

form button { 
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
}

.msgactive {
    width: 100%;
    margin: auto;
    display: flex;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    overflow: scroll;
    width: 80%;
    height: 86vh;
    /* height: 80%; */
    position: relative;
    border: 1px black solid;
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #eee; 
}

#sidebar {
    margin: 0; 
    padding: 0;
    width: 20%;
    position: relative;
    float:right;
}
#sidebar h1 {
    text-align: center;
    margin-top: 2px;
}

#activeusers { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    overflow: scroll;
    height: 82.75vh;

    border: 2px green solid
}
#activeusers li { 
    padding: 5px 10px; 
}

#activeusers li:nth-child(odd) { 
    background: #eee; 
}

.chatbox {
    width:100%;
}


.container {
    width: 100%;
    margin: auto;
}

#userinfo {
    width: 100%;
    float: left;
    height: 10vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#userinfo h1 {

    text-align:center; 
    line-height: 100%;    
    width:100%;
    vertical-align: middle;
}
#activeuser {
    width: 50%;
    float: right;
    height: 10vh;
    background-color: green;
    color: white;
}